<h1>Venues</h1>
<hr>
<ul>
  @foreach(var venue in Model)
  {
    <li><a href="/venues/@venue.id">@venue.name</a></li>
  }
</ul>
<hr>
<h3>Add Venue</h3>
<form action="/venues" method="post">
  <label for="name">Venue Name:</label>
  <input type="text" name="name">
  <label for="location">Location:</label>
  <input type="text" name="location">
  <button type="submit">Add</button>
</form>
<hr>
<a href="/">Home</a>
